Repository eggheads/eggdrop, pull requests merged in 2024-08, with the labels that each got.

#1670 Typo fixes and doc updates
  doc/Changes1.8
  doc/sphinx_source/install/readme.rst
Labels: component: docs

#1669 Add Tcl 9 compatibility - Tcl_Size in python module
  src/mod/python.mod/pycmds.c
Labels: Tcl, Python

#1649 Update Tcl search paths
  m4/tcl.m4
Labels: Tcl

#1596 python.mod: add dir(eggdrop.tcl)
  src/mod/python.mod/pycmds.c
Labels: Python

#1678 Fix user/chanrecord checking on join
  src/mod/irc.mod/chan.c
Labels: type: bug
