Repository eggheads/eggdrop, pull requests merged in 2025-03, with the labels that each got.

#1792 Update char encoding core.french.lang
  language/core.french.lang
Labels: component: language

#1696 Log account changes as join, not mode console level.
  src/mod/irc.mod/chan.c
Labels: category: general

#1786 remove colon from accounts, modes
  src/mod/irc.mod/chan.c
  src/mod/irc.mod/mode.c
Labels: type: task

#1795 Patch 2
  language/core.danish.lang
  language/core.english.lang
  language/core.finnish.lang
  language/core.french.lang
  language/core.german.lang
  language/core.italian.lang
  language/core.portuguese.lang
  src/lang.h
  src/mod/channels.mod/channels.c
Labels: component: language
